<h1>Be part of the community. Register now!</h1>

<form action="/signUp" method="post">
    <p>
        <label for="name-input">Userame:</label>
        <input type="text" name="username" id="name-input" />
    </p>
    <p>
        <label for="email-input">Email:</label>
        <input type="text" name="email" id="email-input" />
    </p>
    <p>
        <label for="password-input">Password:</label>
        <input type="password" name="passwordHash" id="password-input" />
    </p>
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<p><b><a href="/">( Back home )</a></b></p>