<div class="landing">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <p>Welcome Shopper!</p>

        <h1>Do you like Shopping?</h1>
        <p>Me neither.</p>

        <p><em>Let us make it a little more bearable.</em></p>

        <h2>Are you part of the community already?</h2>

        <h3>If not, join!</h3>
        <p>
          <button type="button" class="btn btn-dark"><a href="/login">Login</a></button>

          <button type="button" class="btn btn-outline-dark"><a href="/signUp">Sign up</a></button>
        </p>
      </div>
      <div class="col-4">
        <img
          src="https://images.unsplash.com/photo-1605902711834-8b11c3e3ef2f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
          alt="mobileShopping" height="500px" width="250px">
      </div>
    </div>
  </div>
</div>