<h1>The Concept</h1>
<div>
  <h4>On this side you will get familiar with the concept of this web app.</h4>
</div>
<div>
  <article>
    <p>
      The concept of the site is to be different from other shopping lists.
    </p>
    <p>
    <p>
      If you look at the structure of Kaufland shops, you will see that they are identically structured in almost every
      city at every location.
    </p>
    <p>
      So why doesn't Kaufland offer the service of categorising its shopping list in its
      app?
    </p>
    <p>
      That way, every department would know what it needs and save time and money in its weekly shopping. We
      all know the reason. But now we are fighting back.
    </p>
    </p>
    <p>
      With this app, you should be able to categorise your shopping list and thus save time, nerves and ultimately
      money.
    </p>
    <p>
      At first you have to go to "All Products" an pcik the products you want to shop.
    </p>
  </article>
</div>
<p><button type="button" class="btn btn-dark"><a href="/protected">Back</a></button></p>