<h1>The Concept</h1>

<h2>On this side you will get familiar with the concept of this web app.</h2>

<article> 
<p>
The concept of the site is to be different from other shopping lists.
</p>
<p>
If you look at the structure of Kaufland shops, you will see that they are identically structured in almost every city at every location. So why doesn't Kaufland offer the service of categorising its shopping list in its app? That way, every department would know what it needs and save time and money in its weekly shopping. We all know the reason. But now we are fighting back. 
</p>
<p>
With this app, you should be able to categorise your shopping list and thus save time, nerves and ultimately money.
</p>
<p>
First of all, familiarise yourself with the structure of a Kaufland branch.
</p>
</article>

<p><a href="/protected">Back</a></p>