{{#if username}}

<h1>Hi, {{username}}!</h1>

{{/if}}

<div class="list-group">

  <a href="/concept" class="list-group-item list-group-item-action list-group-item-light">The Concept</a>
  <a href="/products?curent=1" class="list-group-item list-group-item-action list-group-item-light">All Products</a>
  <a href="/products/shoppinglist" class="list-group-item list-group-item-action list-group-item-light">Your Shopping
    List</a>


</div>

<form action="/logout" method="post">
  <p><button type="submit" class="btn btn-danger">LOGOUT</button></p>
</form>