<h2>Be a product designer</h2>


<form action="/products/new" method="post">
  <div class="form-group">
    <label for="brand-input">Brand:</label>
    <input type="text" name="brand" class="form-control" id="brand-input" />
  </div>
  <div class="form-group">
    <label for="name-input">Name:</label>
    <input type="text" name="name" class="form-control" id="name-input" />
  </div>
  <div class="form-group">
    <label for="price-input">Price:</label>
    <input type="number" step="0.01" name="price" class="form-control" id="price-input" />
  </div>
  <div class="form-group">
    <label for="weight-input">Weight:</label>
    <input type="text" name="weight" class="form-control" id="weight-input" />
  </div>
  <div class="form-group">
    <label for="image-input">Image:</label>
    <input type="text" name="image" class="form-control" id="image-input" />
  </div>
  <div class="form-group">
    <label for="link-input">Link:</label>
    <input type="text" name="link" class="form-control" id="link-input" />
  </div>
  <div class="form-group">
    <label for="Category-input">Category:</label>
    <input type="text" name="Category" class="form-control" id="Category-input" />
  </div>
  <div>
    <button type="submit" class="btn btn-outline-dark">Create</button>
    <button type="button" class="btn btn-outline-dark"><a href="/products">Back to Products</a></button>
  </div>
</form>


{{!-- use for category --}}
{{!-- <label for="actors">Choose an actor:</label>

  <select name="actor" id="actor">
    {{#each myCelebrities}}
    <option value="{{this._id}}"> {{this.name}}</option>
    {{/each}}
  </select> --}}