<h2>YOUR SHOPPINGLIST</h2>

<form action="/products" method="get">
  <input type="text" name="search" id="search" placeholder="Search for products..">
  <button type="submit">Search</button>
</form>

<table id="productTable">
  <tr>
    <th>
      Brand
    </th>
    <th>
      Name
    </th>
    <th>
      Details
    </th>
    <th>
      Delete
    </th>
  </tr>
  {{#each products}}

  <tr>
    <td>
      <p><b>{{this.brand}}</b></p>
    </td>
    <td>
      <p>{{this.name}}</p>
    </td>
    <td>
      <p><a href="/products/{{this._id}}">( Details )</a></p>
    </td>
    <td>
      <p>
      <form action="products/{{this._id}}/delete" method="post"><button type="submit">Delete</button></form></a></p>
    </td>
  </tr>

  {{/each}}